body {
  margin: 0 5% 5% 5%;
  font-family: 'Raleway', sans-serif;
}

text {
  fill: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  pointer-events: none;
}

.node {
  cursor: pointer;
  pointer-events: bounding-box;
}

.node circle {
  stroke: none;
  /*fill: #a6cee3;*/
  /*fill-opacity: 0.75;*/
  mix-blend-mode: multiply;
}

.node text {
  /*font-size: 18px;*/
  font-family: 'Roboto Condensed', sans-serif;
}

.link {
  fill: none;
  /*stroke: #1f78b4;*/
  /*stroke-width: 20px;*/
  stroke-linecap: round;
  stroke-opacity: 0.2;
  mix-blend-mode: multiply;
}
